<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.c.mapper.course.CourseMapper">
    <select id="getAllCourses" resultMap="Course">
        select * from course
    </select>
    <select id="getCourseByCno" resultMap="Course">
        select * from course where cno=#{cno}
    </select>
    <update id="updateCourseInfo">
        update course set cnm=#{cnm}, ctm=#{ctm}, cpt=#{cpt}, tec=#{tec}, pla=#{pla}, share=#{share}, permission=#{permission} where cno=#{cno}
    </update>
    <update id="updateCourseShare">
        update course set share=#{share} where cno=#{cno}
    </update>

    <resultMap id="Course" type="com.data_integration.c.PO.Course"></resultMap>
</mapper>