<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.b.dao.election.ElectionDao">

    <resultMap id="electionResultMap" type="com.data_integration.b.pojo.election.Election">
        <result column="课程编号" property="courseId"/>
        <result column="学号" property="studentId"/>
        <result column="得分" property="score"/>
    </resultMap>

    <select id="getElectionsBySid" resultMap="electionResultMap">
        select * from 选课 where 学号 = #{sid}
    </select>

    <select id="getElections" resultMap="electionResultMap">
        select * from 选课
    </select>

    <select id="getElectionByCidSid" resultMap="electionResultMap">
        select * from 选课 where 学号 = #{sid} and 课程编号 = #{cid}
    </select>

    <select id="getElectionsByCid" resultMap="electionResultMap">
        select * from 选课 where 课程编号 = #{cid}
    </select>

    <insert id="addElectionBySidCidScore">
        insert into 选课(课程编号, 学号, 得分) values(#{cid}, #{sid}, #{score})
    </insert>

    <delete id="deleteElectionBySidCid">
        delete from 选课 where 课程编号 = #{cid} and 学号 = #{sid}
    </delete>

    <update id="updateGrade">
        update 选课 set 得分 = #{score} where 学号 = #{sid} and 课程编号 = #{cid}
    </update>

</mapper>