<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.b.dao.admin.AdminDao">

    <resultMap id="accountResultMap" type="com.data_integration.b.pojo.account.Account">
        <id column="账户名" property="aname"/>
        <result column="密码" property="password"/>
        <result column="级别" property="power_grade"/>
        <result column="客体" property="guest_id"/>
    </resultMap>

    <select id="getAccountBySid" resultMap="accountResultMap">
        select * from 账户 where 客体 = #{sid}
    </select>

    <update id="updateAccount" parameterType="com.data_integration.b.pojo.account.Account">
        update 账户 set
            密码 = nvl(#{password}, 密码),
            级别 = decode(#{power_grade}, 0, 级别, #{power_grade}),
            客体 = nvl(#{guest_id}, 客体)
        where 账户名 = #{aname}
    </update>

    <insert id="addAdmin">
        insert into 账户 values(#{aname}, #{password}, #{power_grade}, null)
    </insert>

    <select id="getAccountByNameAndPwd" resultMap="accountResultMap">
        select * from 账户 where 账户名 = #{aname} and 密码 = #{password} and 级别 >= 0
    </select>

    <select id="getAllAdmins" resultMap="accountResultMap">
        select * from 账户 where 级别 > 4
    </select>

    <select id="getAdminByName" resultMap="accountResultMap">
        select * from 账户 where 账户名 = #{sourceAname} and 级别 > 4
    </select>

    <delete id="deleteAccountByName">
        delete from 账户 where 账户名 = #{targetAname}
    </delete>

</mapper>