<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.b.dao.course.CourseDao">


    <resultMap id="courseResultMap" type="com.data_integration.b.pojo.course.Course">
        <id column="编号" property="courseId"/>
        <result column="老师" property="teacherName"/>
        <result column="学分" property="score"/>
        <result column="课时" property="courseTime"/>
        <result column="名称" property="courseName"/>
        <result column="地点" property="teachingPlace"/>
        <result column="共享" property="shareFlag"/>
    </resultMap>

    <resultMap id="accountResultMap" type="com.data_integration.b.pojo.account.Account">
        <id column="aname" property="aname"/>
        <result column="password" property="password"/>
        <result column="power_grade" property="power_grade"/>
        <result column="guest_id" property="guest_id"/>
    </resultMap>

    <resultMap id="electionResultMap" type="com.data_integration.b.pojo.election.Election">
        <id column="课程编号" property="courseId"/>
        <id column="student_id" property="studentId"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getCourseByCid" resultMap="courseResultMap">
        select * from 课程 where 编号 = #{cid}
    </select>

    <update id="setCourseShareFlag">
        update 课程 set 共享 = #{flag} where 编号 = #{courseId}
    </update>

    <select id="getAllCourses" resultMap="courseResultMap">
        select * from 课程
    </select>

    <select id="getSharedCourses" resultMap="courseResultMap">
        select * from 课程 where 共享 = 'Y'
    </select>

    <update id="updateCourseInfo" parameterType="com.data_integration.b.pojo.course.Course">
        update 课程
        set
            老师 = nvl ( #{teacherName}, 老师 ),
            学分 = nvl ( #{score}, 学分 ),
            课时 = nvl (#{courseTime}, 课时),
            名称 = nvl (#{courseName}, 名称),
            地点 = nvl (#{teachingPlace}, 地点),
            共享 = nvl (#{shareFlag}, 共享)
        where 编号 = #{courseId}
    </update>

</mapper>