<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.c.mapper.account.AccountMapper">
    <select id="getAccountByAcc" resultMap="Account">
        select * from Account where acc=#{acc}
    </select>
    <select id="getAllAccounts" resultMap="Account">
        select * from Account
    </select>
    <insert id="addAccount">
        insert into Account(acc,passwd) values(#{acc},#{passwd})
    </insert>
    <delete id="deleteAccount">
        delete from Account where acc=#{acc}
    </delete>
    <update id="updateAccount">
        update Account set passwd=#{passwd} where acc=#{acc}
    </update>

    <resultMap id="Account" type="com.data_integration.c.PO.Account">
        <id column="acc" property="acc"></id>
        <result column="passwd" property="passwd"></result>
        <result column="CreateDate" property="createDate"></result>
    </resultMap>
</mapper>