<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.a.mapper.student.StudentMapper">
    <select id="getStudentBySno" resultMap="Student">
        select * from 学生 where 学号=#{stunum}
    </select>
    <select id="getStudentByAcc" resultMap="Student">
        select * from 学生 where 关联账户=#{acc}
    </select>
    <select id="getAllStudents" resultMap="Student">
        select * from 学生
    </select>
    <update id="updateStudentInfo">
        update 学生 set 姓名=#{stuname}, 性别=#{sex}, 院系=#{department}, 关联账户=#{account} where 学号=#{stunum}
    </update>

    <resultMap id="Student" type="com.data_integration.a.PO.Student">
        <id column="学号" property="stunum"></id>
        <result column="姓名" property="stuname"></result>
        <result column="性别" property="sex"></result>
        <result column="院系" property="department"></result>
        <result column="关联账户" property="account"></result>
    </resultMap>
</mapper>