<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.a.mapper.courseSelecting.CourseSelectingMapper">
    <select id="getAllCourseSelecting" resultMap="CourseSelecting">
        select * from courseselection
    </select>
    <select id="getCourseSelectingBySno" resultMap="CourseSelecting">
        select * from courseselection where studentnum=#{studentnum}
    </select>
    <select id="getCourseSelectingByCno" resultMap="CourseSelecting">
        select * from courseselection where coursenum=#{coursenum}
    </select>
    <select id="getCourseSelectingBySnoAndCno" resultMap="CourseSelecting">
        select * from courseselection where studentnum=#{studentnum} and coursenum=#{coursenum}
    </select>
    <insert id="addCourseSelecting">
        insert into courseselection(coursenum,studentnum) values (#{coursenum},#{studentnum})
    </insert>
    <delete id="deleteCourseSelecting">
        delete from courseselection where studentnum=#{studentnum} and coursenum=#{coursenum}
    </delete>
    <update id="updateGrade">
        update courseselection set record=#{record} where studentnum=#{studentnum} and coursenum=#{coursenum}
    </update>
    <resultMap id="CourseSelecting" type="com.data_integration.a.PO.CourseSelecting"></resultMap>
</mapper>