<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.a.mapper.account.AccountMapper">
    <select id="getAccountByAcc" resultMap="Account">
        select * from 账户 where 账户名=#{account}
    </select>
    <select id="getAllAccounts" resultMap="Account">
        select * from 账户
    </select>
    <insert id="addAccount">
        insert into 账户(账户名,密码,权限) values(#{account},#{password},#{permission})
    </insert>
    <delete id="deleteAccount">
        delete from 账户 where 账户名=#{account}
    </delete>
    <update id="updateAccount">
        update 账户 set 密码=#{password}, 权限=#{permission} where 账户名=#{account}
    </update>

    <resultMap id="Account" type="com.data_integration.a.PO.Account">
        <id column="账户名" property="account"></id>
        <result column="密码" property="password"></result>
        <result column="权限" property="permission"></result>
    </resultMap>
</mapper>