<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.a.mapper.account.AccountMapper">
    <select id="getAccountByAcc" resultMap="Account">
        select * from account where account=#{account}
    </select>
    <select id="getAllAccounts" resultMap="Account">
        select * from account
    </select>
    <insert id="addAccount">
        insert into account(account,password,permission) values(#{account},#{password},#{permission})
    </insert>
    <delete id="deleteAccount">
        delete from account where account=#{account}
    </delete>
    <update id="updateAccount">
        update account set password=#{password}, permission=#{permission} where account=#{account}
    </update>

    <resultMap id="Account" type="com.data_integration.a.PO.Account">
        <id column="account" property="account"></id>
        <result column="password" property="password"></result>
        <result column="permission" property="permission"></result>
    </resultMap>
</mapper>