<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data_integration.c.mapper.student.StudentMapper">
    <select id="getStudentBySno" resultMap="Student">
        select * from Student where Sno=#{sno}
    </select>
    <select id="getAllStudents" resultMap="Student">
        select * from Student
    </select>
    <update id="updateStudentInfo">
        update Student set Snm=#{snm}, Sex=#{sex}, Sde=#{sde}, Pwd=#{pwd} where Sno=#{sno}
    </update>

    <resultMap id="Student" type="com.data_integration.c.PO.Student">
        <id column="Sno" property="sno"></id>
        <result column="Snm" property="snm"></result>
        <result column="Sex" property="sex"></result>
        <result column="Sde" property="sde"></result>
        <result column="Pwd" property="pwd"></result>
    </resultMap>
</mapper>